@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */

}

.main {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  overflow: auto;
}

.container {
  /* border: 1px solid green; */
  padding: 10px;
  margin: 0 auto;
}

.min-w-40 {
  min-width: 40px;
}

.min-w-140 {
  min-width: 140px;
}
